.grp-card{
    display: flex;
    gap: 10px;
}
.grp-card:hover{
    background-color:rgb(140, 143, 143);
}
.grp-color{
    border-radius: 50%;
}
.grp-title{
    overflow: hidden;
}
.tab-close{
    margin-left: auto;
    margin-right: 10px;  
}
.grp-close:hover{
    color: gold;
}
