.home-box{
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}
.home-box::-webkit-scrollbar {
    display: none;
}
.home-name{
    font-size: 14px;
    font-weight: 600;
    margin-right: auto;
}
.item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.search-box{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 0.5px solid;
    padding-left: 2px;
}
.search-box input{
    width: 250px;
    height: 17px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 2px;
}
.duplicate{
    margin-right: 10px;
    &:hover{
        color: var(--blue);
    }
}
.window-list{
    width: 95%;
    max-height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--bg);
}
.window-dets{
    display: flex;
    justify-content: space-between;
}
.window-dets span{
    font-weight:600;
    margin-left: 5px;
    width: fit-content;
}
.new-tab-btn{
    margin-left: auto;
    margin-right: 5px;
    margin-bottom: 2px;
    font-size: 12px;
    border-radius: 5px;
    background-color: var(--blue);
    border: none;
    &:hover{
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
        background-color: var(--white);
        border: 1px solid black;
        color: black;
    }
}
.tab-list{
    margin-top: 5px;
    max-height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}
.tab-list::-webkit-scrollbar {
    width: 4px;
}
.tab-list::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
.tab-list::-webkit-scrollbar-thumb {
    background: #888; 
}
