.nav-box {
    margin: 0;
    height: 80px;
    width: 100%;
    background-color: orange;
    display: flex;
    flex-direction: row;
    top: 0;
}
.nav-heading {
    width: 15%;
    margin: 1.5rem 0 1rem 0.5rem;
    font-size: larger;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
.nav-heading:hover{
    cursor: pointer;
}
.nav-logo {
    height: 33px;
    margin: 1rem 0 1rem 1rem;
}
.logout-button{
    width: 80%;
}

.logout{
    margin-right: 15px;
    float: right;
    margin-top: 20px;
    height: 35px;
    cursor: pointer;
    background: none;
    border: 1px solid black;
    font-size: 20px;
    border: none;
    background-color: #333;
    color: white;
    box-shadow: 5px 10px 10px gray;
    width: 8%;
    min-width: fit-content;
    letter-spacing: 1px;
    font-family: "Bacasime Antique", serif;
}
.logout:hover{
    background-color: white;
    color: black;
}

@media (max-width : 640px){
    .nav-heading {
        width: 60%;
    }
}