.nav-box {
    top: 0;
    position: sticky;
    width: 500px;
    height: 20px;
    padding: 10px;
    display: flex;
    gap: 10px;
}
.nav-heading {
    width: max-content;
    margin-right: auto;
    font-size: 17px;
}
.nav-heading:hover{
    cursor: pointer;
}
.logout{
    font-size: 15px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
    background-color: var(--bg-blue);
}
.logout:hover{
    background-color: var(--white);
}

@media (max-width : 640px){
    
}