.nav-box {
    top: 0;
    position: sticky;
    width: 380px;
    height: 15px;
    padding: 10px;
    display: flex;
    gap: 10px;
}
.nav-heading {
    width: max-content;
    margin-right: auto;
    font-size: 15px;
}
.logout{
    font-size: 12px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
    &:hover{
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }
}
.nav-ele{
    font-size: 12px;
    text-decoration: none;
    color: black;
}