::-webkit-scrollbar {
    display: none;
}
.main-container{
    display: flex;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat ;
    justify-content: center;
}
.main-left-sec {
    background-color: transparent;
    padding: 20px;
    align-items: center;
}
.main-heading1{
    background-color: transparent;
    color: black;
    font-weight: bolder;
    margin-bottom: 10px;
    text-align: left;
    letter-spacing: 1px;
    font-size: xx-large;
    font-family: "Montserrat", sans-serif;
}
.main-left-sec-para{
    text-align: left;
    font-size: 22px;
    letter-spacing: 2px;
    font-family: "Bacasime Antique", serif;
}
.main-right-sec{
    padding: 20px;
    margin-top: 5%;
    margin-left: 10%;
    width: 30vw;
    height: fit-content;
    display: flex;
    display: table-column;
    align-items: center;
    justify-content: center;
}
.main-heading2{
    margin-bottom: 30px;
    text-align: left;
    letter-spacing: 1px;
    font-size: xx-large;
    font-family: "Montserrat", sans-serif;
}
.main-right-sec-para{
    text-align: left;
    letter-spacing: 1.5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Bacasime Antique", serif;
}
.login-btn,
.register-btn {
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    box-shadow: 5px 10px 10px gray;
    margin: 0 auto 30px 0;
    width: 45%;
    min-width: fit-content;
    height: 40px;
    letter-spacing: 1px;
    font-family: "Bacasime Antique", serif;
}
.login-btn:hover,
.register-btn:hover {
    background-color: white;
    color: black;
  }
  
@media only screen and (max-width: 768px){
    .main-container{
        flex-direction: column;
        background-attachment: fixed;
        background-position: center;
    }
    .main-left-sec{
        order: 1;
        margin: 20% auto 0 auto;
        width: 85%;
        height: auto;
        padding: 0;
    }
    .main-heading1{
        margin-top: 0;
        text-align: center;
        font-size: x-large;
    }
    .main-left-sec-para{
        font-size: medium;
        letter-spacing: 1.4px;
        margin-bottom: 0;
    }
    .main-right-sec {
        order: 2;
        margin: 0 auto 0 auto;
        width: 85%;
        height: auto;
        padding: 0;
    }
    .main-heading2{
        font-size: x-large;
        margin-bottom: 0;
    }
    .main-right-sec-para{
        font-size: medium;
        letter-spacing: 1.4px;
        margin-bottom: 0;
    }
}





