.home-box{
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    padding: 5px;
}
.home-name{
    font-size: 12px;
    font-weight: 600;
    margin-right: auto;
}
.grp-btn{
    width: 100px;
    height: 25px;
    margin-left: auto;
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
    background-color: var(--bg-blue);
}
.grp-btn:hover{
    background-color: white;
}
.grp-popup{
    background-color: var(--white);
    width: 190px;
    padding: 10px;
    margin-top: 80px;
    margin-left: 230px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.window-list{
    width: 370px;
    padding: 3px;
}
.tab-list{
    width: 370px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}