.home-box{
    width: 100vw;
    min-height: 100vh;
}
.home-name{
    width: max-content;
}
.tab-list{
    width: 50%;
    border: 2px solid;
}
.tab-card{
    display: flex;
    flex-direction: row;
}