.tab-card{
    display: flex;
    gap: 3px;
    height: 17px;
    border-radius: 5px;
}
.tab-card:hover{
    background-color:rgb(140, 143, 143);
}
.tab-title{
    width: 300px;
    overflow: hidden;
}
.tab-pin{
    margin-left: auto;
    margin-right: 10px;  
}
.tab-pin:hover{
    color: gold;
}