.tab-card{
    width: 100%;
    height: 17px;
    display: flex;
    gap: 5px;
    border-radius: 5px;
    &:hover{
        background-color:rgb(166, 166, 167);
    }
}
.tab-img{
    height: 15px;
    width: 15px;
    margin-left: 5px;
}
.tab-title{
    width:400px;
    height: 17px;
    overflow: hidden;
    margin-left: 5px;
}
.tab-book{
    margin-left: auto;
    margin-right: 7px;
    color: black;
    &:hover{
        color: var(--blue);
    }
}
.tab-pin{
    margin-left: auto;
    margin-right: 7px;
    color: var(--blue);
    &:hover{
        color: black;
    }
}
.tab-unpin{
    margin-left: auto;
    margin-right: 7px; 
    color: black;
    &:hover{
        color: var(--blue);
    }
}
.tab-close{
    margin-left: auto;
    margin-right: 5px;
    &:hover{
        color: var(--blue);
    }
}
.tab-card.highlight{
    background-color: burlywood;
}
.tab-card.duplicate{
    background-color: pink;
}