.home2-box{
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}
.box1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box1 span{
    width: fit-content;
    margin-left: 5px;
    font-size: 13px;
    font-weight: 600px;
}
.grp-btn{
    width: 100px;
    height: 25px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgb(57, 139, 233);
    &:hover{
        background-color: white;
    }
}
.grp-popup{
    width: 150px;
    padding: 5px;
    position: absolute;
    margin-top: 26px;
    margin-right: 13px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    background-color: white;
}
.grp-popup input{
    width: 95%;
    padding: 5px;
    font-size: 14px;
}
.grp-color{
    display: flex;
    justify-content: space-around;
    gap: 4px;
}
.color-btn{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
    &:hover{
        -webkit-box-shadow: -0.5px -0.5px 5px 3.5px #eaeaea;
        -moz-box-shadow: -0.5px -0.5px 5px 3.5px #eaeaea;
        box-shadow: -0.5px -0.5px 5px 3.5px #eaeaea;
    }
}
.done-btn{
    width: fit-content;
    font-size: 12px;
}
.tab2-list{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}