.reg-box{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reg-form{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    border: 2px solid var(--blue);
    border-radius: 5%;
    padding: 50px;
}
.reg-head{
    text-align: center;
}
.reg-label{
    font-size: 20px;
    margin: 0 auto 5px 5px;
}
.reg-input{
    height: 30px;
    background-color: var(--white);
    border: 1px solid grey;
    border-radius: 25px;
    margin-bottom: 15px;
    padding: 2px;
}
.reg-button{
    height: 40px;
    border: none;
    border-radius: 25px;
    background-color: var(--blue);
    font-size: large;
    font-family: "Noto Sans", sans-serif;
    margin-bottom: 15px;
}
.reg-or{
    text-align: center;
}
@media only screen and (max-width: 800px) {
  
}
@media only screen and (max-width: 700px) {
  
}