.main-container{
    width: 480px;
    height: 480px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
    background-image: linear-gradient(to right bottom, #064bf5, #165df8, #2a6df9, #3e7cf8, #528af7, #6a97f7, #80a5f7, #94b2f7, #aec3f9, #c6d5fb, #dee6fd, #f6f8fe);
}
.main-head{
    font-size: 30px;
    text-align: center;
}
.main-right-sec-para{
    font-size: 20px;
    margin: 20px;
    text-align: center;
}
.login-btn,
.register-btn {
    margin-top: -15px;
    font-size: 20px;
    min-width: 100px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    padding: 5px; 
    background-color: var(--blue);
}
.login-btn:hover,
.register-btn:hover {
    border: 1px solid black;
    background-color: var(--white);
}






