.home7-box{
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    background-color: var(--white);
}
.box7{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box7 span{
    width: fit-content;
    margin-left: 5px;
    font-size: 13px;
    font-weight: 600px;
}
.box7 button{
    position: relative;
    width: fit-content;
    padding: 5px;
    font-size: 13px;
    border-radius: 5px;
    background-color: var(--blue);
    border: none;
    &:hover{
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
        background-color: var(--white);
        border: 1px solid black;
        color: var(--bg);
    }
}
.link-popup{
    width: fit-content;
    padding: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    right: 10px;
    margin-top: 20px;
    background-color: var(--bg)
}
.link-popup input{
    width: 180px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}
.link-popup button{
    width: fit-content;
    padding: 3px;
    font-size: 11px;
    border-radius: 5px;
    background-color: var(--blue);
    &:hover{
        background-color: var(--white);
    }
}
.tab7-list{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}