.tab2-card{
    width: 100%;
    height: 17px;
    display: flex;
    align-items: center;
    gap: 3px;
    border-radius: 5px;
    &:hover{
        background-color:rgb(140, 143, 143);
    }
}
.tab2-check{
    width: 15px;
    height: 15px;
}
.tab2-img{
    height: 15px;
    width: 15px;
    margin-left: 3px;
}
.tab2-title{
    width:400px;
    height: 17px;
    overflow: hidden;
}
