.home7-box{
    width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}
.box7{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box7 input{
    font-size: 17px;
    border-radius: 5px;
    border: none;
}
.box7 button{
    width: fit-content;
    padding: 5px;
    font-size: 13px;
    border-radius: 5px;
    background-color: var(--blue);
    border: none;
    &:hover{
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
        background-color: var(--white);
        border: 1px solid black;
        color: var(--bg);
    }
}
